<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona info</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <style>
        .tot{
            margin: 20px;
        }
        h4,.center{
            padding: 0px;
            margin: 0px;
        }
        li{
            font-size: 25px;
        }
        .card{
            transition:0.25s;
        }
        .card:hover{
            background-color: rgb(214, 252, 209);
        }
        .emgc{
            transition:0.25s;
        }
        .emgc:hover{
            background-color: rgb(253, 196, 131);
        }
        .numc:hover{
            font-size: 120%;
        }
        .numc{
            color: rgb(70, 139, 73);
            margin-right: 5px;
            transition: 0.25s;
        }
    </style>
</head>
<body>
    <div class="tot">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 100%;height: 474px;">
                <div class="card-body">
                    <h2 class="card-title">What is CORONA-VIRUS</h2>
                    <h6 class="card-subtitle mb-2 text-muted">Common question</h6>
                    <p class="card-text" style="font-size: 23px;">Corona viruses are a large family of viruses which may cause illness in animals or humans. In humans, several coronaviruses are known to cause respiratory infections ranging from the common cold to more severe diseases such as Middle East Respiratory Syndrome (MERS) and Severe Acute Respiratory Syndrome (SARS).</p>
                </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card" style="width: 100%;height: 225px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div style="border-right:1px solid; height:175px;">
                                <div align="center">
                                    <h4>Most common :</h4><br>
                                    fever<br>
                                    dry cough<br>
                                    tiredness<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div style="border-right:1px solid; height:175px;">
                                <div align="center">
                                    <h4>Less common :</h4><br>
                                    aches and pains<br>
                                    sore throat<br>
                                    diarrhoea<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div align="center">
                                <br>
                                conjunctivitis<br>
                                headache<br>
                                loss of taste or smell<br>
                                a rash on skin, or discolouration of fingers or toes<br>
                            </div>
                        </div>
                    </div>
                </div>
                </div> <br>
                <div class="card" style="width: 100%;height: 225px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div style="border-right:1px solid; height:175px;">
                            <h1 class="card-title">Rules of THUMB</h1>
                            <h6 class="card-subtitle mb-2 text-muted">To follow strictly</h6>
                            <ul>
                                <br>
                                <li>Keep things clean</li>
                            </ul>
                            </div>
                        </div>
                        <div class="col-7">
                            <ul>
                                <li>Wear a cloth face mask</li><br>
                                <li>Avoid close contact</li><br>
                                <li>Restrict your travel</li><br>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
    <div class="container emgc" style="border: 1px solid; padding: 30px; margin-bottom: 10px;">
        <h1 style="text-align: center;color: red;margin-bottom: 15px;">Emergency Contact Numbers</h1>

    <div class="row">
        <div class="col-3">
        <span class="numc"> 1</span> Andhra Pradesh 0866-2410978 <br>
        <span class="numc"> 2</span> Arunachal Pradesh 9436055743 <br>
        <span class="numc"> 3</span> Assam 6913347770 <br>
        <span class="numc"> 4</span> Bihar 104 <br>
        <span class="numc"> 5</span> Chhattisgarh 104 <br>
        <span class="numc"> 6</span> Goa 104 <br>
        <span class="numc"> 7</span> Gujarat 104 <br>
        </div>
        <div class="col-3">
        <span class="numc"> 8</span> Haryana 8558893911 <br>
        <span class="numc"> 9</span> Himachal Pradesh 104 <br>
        <span class="numc"> 10</span> Jharkhand 104 <br>
        <span class="numc"> 11</span> Karnataka 104 <br>
        <span class="numc"> 12</span> Kerala 0471-2552056 <br>
        <span class="numc"> 13</span> Madhya Pradesh 104 <br>
        <span class="numc"> 14</span> Maharashtra 020-26127394 <br>
        </div>
        <div class="col-3">
        <span class="numc"> 15</span> Manipur 3852411668 <br>
        <span class="numc"> 16</span> Meghalaya 108 <br>
        <span class="numc"> 17</span> Mizoram 102 <br>
        <span class="numc"> 18</span> Nagaland 7005539653 <br>
        <span class="numc"> 19</span> Odisha 9439994859 <br>
        <span class="numc"> 20</span> Punjab 104 <br>
        <span class="numc"> 21</span> Rajasthan 0141-2225624 <br>
        </div>
        <div class="col-3">
        <span class="numc"> 22</span> Sikkim 104 <br>
        <span class="numc"> 23</span> Tamil Nadu 044-29510500 <br>
        <span class="numc"> 24</span> Telangana 104 <br>
        <span class="numc"> 25</span> Tripura 0381-2315879 <br>
        <span class="numc"> 26</span> Uttarakhand <span style="display:inline; text-align: left;">104</span> <br>
        <span class="numc"> 27</span> Uttar Pradesh <span style="display:inline; text-align: left;">18001805145</span> <br>
        <span class="numc"> 28</span> West Bengal <span style="display:inline; text-align: left;">1800313444222</span>  <br>
        </div>
    </div>
    </div>
</body>
</html>


