<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>
        Hey! <%= name %>
    </h1>
    <br>
    <h3>
        We,hope that you are safe in this pandemic
        We got your message.Our one of the members will reach out to you shortly
    </h3>
    <br>

    <h3 id="random">
     Your Contact Case ID is : <%= id %>
    </h3>

    
</body>
</html>